@import "../../styles/mixins";
@import "../../styles/variables";

//@ desc FlashCardList component styles

.flashcard-wrapper {
  background-color: $light-green;
  border-radius: $chat-border-radius;
  padding: 0 2rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  background: radial-gradient(circle at center, #7a5af5, #dadada);
}

.flashcard-info {
  border: 1px solid hsl(246, 11%, 22%);
  border-radius: $chat-border-radius;
  width: max-content;
  padding: 0 1rem;
  font-size: 0.8rem;
}

.btns-container {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  &__header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.label {
  position: initial;
}

//@ desc Flashcard component styles

.flashcard-container {
  min-height: 50vh;
  height: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.loading-element-wrapper {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
