@import "../../styles/mixins";
@import "../../styles/variables";

.custom-circle-button {
  width: 5rem;
  height: 5rem;
  min-height: 5rem;
  min-width: 5rem;
  border-radius: 50%;

  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $btn-shadow;
}
