@import "../../styles/mixins";
@import "../../styles/variables";

.feedback-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 3rem;
  line-height: 2;
  //background-color: $light-yellow;
  border-radius: $chat-border-radius;
  color: white;

  background-image: linear-gradient(
    108.49deg,
    rgba(3, 56, 99, 0.3),
    rgba(20, 107, 77, 0.3)
  );

  @include mq(phone, max) {
    padding: 2rem 1rem;
  }

  h1 {
    font-size: 0.8rem;
    margin-bottom: 2rem;
    width: 50%;
    text-align: center;

    @include mq(phone, max) {
      width: 90%;
    }
  }

  .feedback-info {
    border: 1px solid hsl(246, 11%, 22%);
    border-radius: $chat-border-radius;
    padding: 0 1rem;
    margin-bottom: 3rem;
    font-size: 0.8rem;
  }
}
