@import "../../styles/mixins";
@import "../../styles/variables";

.feedback-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 3rem;
  line-height: 2;
  border-radius: $chat-border-radius;
  color: black;

  //background-color: #dcb6f7;
  background: radial-gradient(circle, #dcb6f7, #dadada);

  @include mq(phone, max) {
    padding: 2rem 1rem;
  }

  h1 {
    font-size: 0.8rem;
    margin-bottom: 2rem;
    width: 50%;
    text-align: center;

    @include mq(phone, max) {
      width: 90%;
    }
  }

  .feedback-info {
    padding: 0 1rem;
    margin-bottom: 3rem;
    font-size: 0.8rem;
    //color: #8d9797;
    color: #7a5af5;
  }
}
