@import "../../styles/mixins";
@import "../../styles/variables";

.chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $main-border-radius;
  background-color: $light-gray;
  color: $black;
  box-shadow: $header-shadow;
  max-width: 100%;
  margin-block: auto;

  padding: 1rem 0;

  @include mq(tablet-wide, max) {
    padding: 1rem;
  }

  @include mq(phone, max) {
    padding: 0.3rem;
    justify-content: space-between;
  }

  &__avatar-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0.5rem;

    @include mq(phone, max) {
      font-size: 15px;
    }
  }

  &__question {
    @include mq(phone, max) {
      font-size: 12px;
    }

    &:nth-child(3) {
      opacity: 0.7;
    }
  }
}

.chat-header > div:nth-child(2) {
  margin-right: 5rem;

  @include mq(phone, max) {
    margin-right: 0.5rem;
  }
}
