// Colors
$midnight-blue: #101c2e;
$black: #000000;
$light-gray: #dadada;
$header-color: #000000;
$lavender: #a688fa;
$lavender-blush: #b2a5e5;
$grey-color: #bbb;
$blue-color: #0065ff;
$white-color: #fff;

// Shadows
$header-shadow: rgba(119, 118, 118, 0.35) 0px 5px 15px;
$btn-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// Gradients
$feedback-background: radial-gradient(circle, #dcb6f7, #dadada);
$flashcard-background: radial-gradient(circle at center, #7a5af5, #dadada);

// Border and Radius
$main-border-radius: 1.5rem;

//Text sizes
$text-small: 0.8rem;

// Chat styles
$chat-background: #f8f2fc;
$chat-2nd-background: #aac1cf;
$chat-border-radius: 1.5rem;
$chat-user-bubble: #ba80e6;
$dots-color: #9880ff;
