$color-main: #f8f3df;
$color-black: #000000;
$color-orange: #ef445c;
$color-grey: #e9e9e9;

$grey-color: #bbb;
$black-color: #151111;
$blue-color: #0065ff;
$white-color: #fff;
$text-small: 0.8rem;
$element-max-width: 260px;
$auth-container-width: 1020px;

$chat-backgroundColor: #f8f2fc;
$chat-2nd-backgroundColor: #aac1cf;
$chat-borderRadious: 1.5rem;
$chat-userBubbleColor: #ba80e6;
