// Brand colors
$brand-primary: white;
$brand-secondary: #ef445c;

// Text colors
$text-primary: #000000;
$text-secondary: #e9e9e9;

// Colors
$grey-color: #bbb;
$blue-color: #0065ff;
$white-color: #fff;

// Element dimensions
$element-max-width: 260px;
$auth-container-width: 1020px;
$text-small: 0.8rem;

// Chat styles
$chat-background: #f8f2fc;
$chat-2nd-background: #aac1cf;
$chat-border-radius: 1.5rem;
$chat-user-bubble: #ba80e6;
$dots-color: #9880ff;

// Auth button styles
$auth-button-background: #f1f5f6;
$auth-button-text: #344563;
